$max-width: 1100px;
$mobile: 900px;
$dark: #0c1825;
$grey: #f9f9f9;
$text-grey: #353535;
$max: 1250px;

.align-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes down-to-up {
  from {
    top: 0;
  }
  to {
    top: -0.5rem;
  }
}

@keyframes scrolling {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-715px);
  }
}
