@import "styles/global.scss";

.Hero {
  @extend .align-center;
  margin: auto;
  padding: 1.9rem 2rem;
  padding-block: 5rem;
  gap: 3rem;
  flex-wrap: wrap;
  transition: all 300ms ease-in-out;
  margin-top: 4rem;
  justify-content: space-between;

  @media (max-width: $max-width) {
    flex-direction: column;
  }

  @media (max-width: $mobile) {
    flex-direction: unset;
  }

  &-left {
    //  flex: 0 0 40%;
    flex: 3;
    @media (max-width: $mobile) {
      display: flex;
      // justify-content: center;
      align-items: center;
      flex-direction: column;
      flex: 1;
    }

    &_title {
      font-size: 65px;
      font-size: 4.05rem;
      line-height: 82px;
      color: $dark;
    }

    &_body {
      margin-top: 10px;
      margin-bottom: 30px;
    }

    &_register {
      padding: 1rem;
      cursor: pointer;
      border: 1px solid #bbb !important;
      border-radius: 10px;
      font-weight: bold;
      transition: all 300ms ease-in-out;
      margin-bottom: 20px;
      text-transform: capitalize;
      background-color: $dark;
      color: white;

      &:hover {
      }
    }

    &_social {
      @extend .align-center;
      justify-content: left;
      column-gap: 1rem;

      &-box {
        padding: 0.5rem 0.75rem;
        border: 1px solid #bbb !important;
        border-radius: 10px;
        font-weight: bold;
        transition: all 400ms ease-in-out;
        @extend .align-center;
        column-gap: 0.5rem;
        position: relative;
        cursor: pointer;
        //   animation: down-to-up ease-in-out 300ms;
        //   animation-fill-mode: backwards;

        &_icon {
          margin-top: 0.25rem;
          font-size: 1.5rem;
        }

        &_name {
          font-size: small;
        }

        &:hover {
          animation: down-to-up ease-in-out 300ms;
          animation-fill-mode: forwards;
        }
      }
    }
  }

  &-right {
    flex: 0 0 50%;
    position: relative;
    display: flex;
    justify-content: right;

    @media (max-width: $max-width) {
      margin-top: 4rem;
    }

    @media (max-width: $mobile) {
      display: flex;
      justify-content: center;
      flex: 1;
      margin: auto;
    }

    &_i {
      height: 100%;
      margin-right: 6rem;

      @media (max-width: $mobile) {
        margin-right: 1rem;
      }
    }

    &_dot {
      position: absolute;
      width: 14rem;
      left: 1.5rem;
      top: 60%;

      @media (max-width: $mobile) {
        left: 0rem;
      }
    }

    &_circle {
      position: absolute;
      z-index: 1;
      right: 4.75rem;
      top: 28%;

      @media (max-width: $mobile) {
        right: 6.8rem;
      }
    }

    &_rect {
      position: absolute;
      top: -2.25rem;
      right: 3rem;
      z-index: -1;

      @media (max-width: $mobile) {
        margin-right: 1rem;
        right: 4rem;
      }
    }

    &_cross {
      position: absolute;
      top: -2.25rem;
      left: 6rem;

      @media (max-width: $mobile) {
        left: 5rem;
      }
    }

    &_rent {
      position: absolute;
      width: 14rem;
      left: 0rem;
      top: 28%;
    }

    &_investify {
      position: absolute;
      width: 14rem;
      bottom: 2rem;
      right: 2rem;

      @media (max-width: $mobile) {
        right: 1rem;
      }
    }
  }
}
