@import "styles/global.scss";

.Nav {
  @extend .align-center;
  background-color: white;
  padding: 1.9rem 2rem;
  height: 6rem;
  column-gap: 3rem;
  width: 100%;
  margin: auto;

  //
  position: sticky;
  top: 1rem;
  z-index: 20;

  &_img {
    height: 90%;
    cursor: pointer;

    img {
      height: 100%;
    }
  }

  &_right {
    text-transform: capitalize;
    flex: 1;
    @extend .align-center;
    column-gap: 3rem;

    @media (max-width: $max-width) {
      display: none;

      width: 100%;
      position: fixed;
      top: 6rem;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: white;
      flex-direction: column;
      justify-content: center;
    }

    a {
      text-transform: capitalize;
    }

    &-left {
      display: flex;
      column-gap: 3rem;
      font-weight: 500;
      font-size: 1rem;

      @media (max-width: $max-width) {
        margin-bottom: 1rem;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        text-align: center;
      }
    }

    &-right {
      @extend .align-center;
      column-gap: 0.5rem;

      @media (max-width: $max-width) {
        margin-bottom: 1rem;
        row-gap: 1rem;
        flex-direction: column;
      }

      &_link {
        padding: 1rem 0.5rem;
        border: 1px solid #bbb !important;
        border-radius: 10px;
        font-weight: bold;
        font-size: 1.125rem;
        transition: all 300ms ease-in-out;

        @media (max-width: $max-width) {
          width: 90vw;
          text-align: center;
        }

        &:hover {
          background-color: $dark;
          color: white;
        }

        &.active {
          background-color: $dark;
          color: white;
          &:hover {
            background-color: white;
            color: $dark;
          }
        }
      }
    }
  }

  &_menu {
    font-size: 2rem;
    cursor: pointer;
  }
}

.active {
  color: red;
  @media (max-width: $max-width) {
    display: block;
  }
}
