@import "styles/global.scss";

.Security {
  @extend .align-center;
  max-width: 800px;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  gap: 2rem;
  color: $dark;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 3rem;

  @media (max-width: $mobile) {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  &-left {
    height: 8rem;

    img {
      height: 100%;
    }
  }

  &-right {
    line-height: 1.75rem;

    &-title {
      line-height: 3rem;
      font-size: 2rem;
    }

    &-body {
      font-size: 0.93rem;
      margin-bottom: 1rem;
    }

    &-link {
      text-transform: capitalize;
      display: flex;
      align-items: baseline;
      gap: 0.2rem;
      color: blue;
      font-size: 1.125rem;
      display: inline;
      font-weight: 500;
      //
      background-image: linear-gradient(180deg, transparent 65%, #d0e2fc 0);
      background-repeat: no-repeat;
      background-size: 0 100%;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-size: 100% 100%;
      }

      &::after {
        content: " >";
        font-size: 1.2rem;
      }
    }
  }
}
