@import "styles/global.scss";

.Ways {
  @extend .align-center;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  gap: 2rem;
  color: $dark;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;

  @media (max-width: $max-width) {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  &-left {
    flex: 2;

    &_title {
      line-height: 3.005rem;
      font-size: 2.375rem;
    }

    &_body {
      margin-top: 1rem;
    }

    &_start {
      margin-top: 2rem;
      margin-bottom: 1rem;
      padding: 1rem;
      cursor: pointer;
      border: 1px solid #bbb !important;
      border-radius: 10px;
      font-weight: bold;
      transition: all 300ms ease-in-out;
      text-transform: capitalize;
      background-color: $dark;
      color: white;
    }
  }

  &-right {
    @extend .align-center;
    flex: 5;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;

    @media (max-width: $max-width) {
      justify-content: center;
    }

    &_box {
      cursor: pointer;
      width: clamp(100px, 100%, 350px);
      background-color: $grey;
      padding: 2rem;
      border-radius: 1rem;

      &:hover {
        .Ways-right_box-content_button {
          margin-left: 1.5rem;
        }
      }

      &-icon {
        width: 3.125rem;
        height: 3.125rem;
        margin-bottom: 2rem;
      }

      &-content {
        margin-bottom: 2rem;
        line-height: 1.75rem;

        &_title {
          text-transform: capitalize;
          font-size: 1.25rem;
          font-weight: bold;
          margin-bottom: 1rem;
        }

        &_button {
          display: flex;
          gap: 0.5rem;
          align-items: center;
          transition: 400ms ease;

          &-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            width: 2.25rem;
            height: 2.25rem;
            border-radius: 50%;
          }

          &-button {
            color: $text-grey;
            text-transform: capitalize;
            font-weight: 500;
          }
        }
      }
    }
  }
}
