@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700;800&display=swap");
@import "styles/global.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: "DM Sans", sans-serif !important;
}

body {
  width: 100%;
  min-height: 1000px;
  font-family: "DM Sans", sans-serif !important;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  overflow: auto;
  scroll-behavior: smooth;
}

.Home {
  scroll-behavior: smooth;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  min-height: 1000px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.uppercase {
  text-transform: uppercase;
}

a {
  color: $dark;
  text-decoration: none;
}

// mobile screen
@media (max-width: $max-width) {
  .desktop {
    display: none;
  }
}

.max-width {
  max-width: $max;
  width: 100%;
  // width: clamp(100px, 100%, 1250px);
}

// desktop screen
@media (min-width: $max-width) {
  .mobile {
    display: none;
  }
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 20;
}

.bg-white {
  background-color: white;
}

.blue-circle {
  background-color: $blue-bg;
  color: $blue;
}

.red-circle {
  background-color: #fde7f5;
  color: #e5288e;
}

.light-blue-circle {
  background-color: rgb(227, 245, 255);
  color: rgb(50, 150, 255);
}

.green-circle {
  background-color: rgb(228, 255, 240);
  color: rgb(6, 155, 64);
}

.bg-grey {
  background-color: $grey;
  color: $dark;
}

.purple_badge {
  background-color: $purple-bg;
  margin-bottom: 2rem;
  color: $purple;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 40px;
  font-weight: 700;
}
